* {
    font-family: "Martel Sans", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

.navbar {
    display: flex;
    max-width: 80vw;
    margin: auto;
    align-items: center;
    z-index: 10;
}

#toggle-btn {
    color: white;
    z-index: 11;
    border: 1px solid white;
    background-color: rgba(34, 32, 32, 0.144);
}

.main {
    background-image: url("assets/images/homeposter.jpg");
    background-position: center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
    z-index: 1;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
    z-index: 2;
}

#hero-1 {
    z-index: 10;
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    align-items: flex-start;
}

#hero-2 {
    max-width: 620px;
    z-index: 10;
}

.seperator {
    width: 100%;
    height: 8px;
    background-color: rgba(145, 142, 142, 0.523);
    z-index: 10;
}

.first {
    max-width: 70vw;
    margin: auto;

}

/* Image & Video Styling */
.secImg {
    position: relative;
}

/* Positioning for video inside TV image */
.secImg img {
    width: 100%;
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 15%;
    left: 11%;
    width: 75%;
    height: auto;
}

/* Responsive Text Styling */
h2 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

footer {
    font-size: 14px;
}

footer .questions p {
    font-size: 16px;
    font-weight: 500;
}

.faq-box {
    background: #222;
    color: white;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2vh;
}

.faq-box:hover {
    background-color: #414141;
    color: white;
}

.icon {
    font-size: 24px;
    transition: transform 0.3s ease;
}

.icon.rotate {
    transform: rotate(45deg);
}

.faq-content {
    display: none;
    background: #333;
    color: white;
    padding: 15px;
    border-radius: 0 0 8px 8px;
    margin-bottom: 10px;
}

.faqCont {
    max-width: 60%;
}